<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWeatherService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.0.191/wcf/WeatherService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWeatherService"
                contract="WeatherServiceCondition.IWeatherService" name="BasicHttpBinding_IWeatherService" />
        </client>
    </system.serviceModel>
</configuration>